/*
Site Name: Bootstrap Speakers Live Search
Author: Joshua Vining
Year: 2015

bootstrap-primary: #428bca;
bootstrap-success: #5cb85c;
bootstrap-info:    #5bc0de;
bootstrap-warning: #f0ad4e;
bootstrap-danger:  #d9534f;
*/


html{text-rendering:optimizeLegibility;}
body{background:#fbfbfb; color:#565656; font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';}
h1,h2,h3,h4,h5{font-weight:300;}

/* Vertical Utility Classes */
.voffset  {margin-top: 2px;}   .voffset1 {margin-top: 5px;} 
.voffset2 {margin-top: 10px;}  .voffset3 {margin-top: 15px;} 
.voffset4 {margin-top: 30px;}  .voffset5 {margin-top: 40px;} 
.voffset6 {margin-top: 60px;}  .voffset7 {margin-top: 80px;}
.voffset8 {margin-top: 100px;} .voffset9 {margin-top: 150px;}

/* Custom CSS */
.speaker-listing{}
.speaker-name{}
.speaker-title{display:block; font-weight:300;}
.speaker-company{display:block; font-weight:300;}
.speaker-logo{float:right; margin-top:30px;}
.speaker-image img{display: block; max-width: 100%; height: auto;}
